.main {
display: flex;
flex-direction: column;
}

.meals {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.meal-item {
  margin: 5px;
}

.modal {
  height: 100%;
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  background-color: #fcfcfc;
  overflow-x: hidden;
  backdrop-filter: blur(10px);
  opacity: 95%;
}